.inthedrawtitle {
  background: steelblue;
  border: 1px solid white;
  margin: auto;
  color: white;
  box-shadow: 0 2px 5px 0 rgb(255, 255, 255), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.inthedrawmain {
  width: 70%;
  margin: 0 auto;
  /*min-height: 385px;*/
  padding-bottom: 38px;
}
.subcontent_nav {
  height: 82px;
}
.table-wrap {
  /*height: 247px;*/
  height: 198px;
  overflow: hidden;
  margin-top: 10px;
}
.thfirst {
  width: 20%;
}
.thsecond {
  width: 50%;
}
.ththird {
  width: 30%;
}
